<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">

    <form action="/stock" method="GET">
        <label for="symbol">Enter symbol: </label>
        <input type="text" name="symbol" required />
        <input type="submit" value="Submit"/>
    </form>

    <br/>

    <p><%= result %></p>

    <table border="0">
      <% for (var name in resultMap) { %>
      <tr>
        <td><strong><%= name %>: </strong></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= resultMap[name] %></td>
      </tr>
      <% } %>
    </table>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>