<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">

    <form action="/stock" method="GET">
        <label for="symbol">Enter symbol: </label>
        <input type="text" name="symbol" required />
        <input type="submit" value="Submit"/>
    </form>

    <% if (!!result) { %>
    <br/>
    <table>
      <tr>
        <td>SYMBOL:</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><strong><%= result %></strong> (<%= name %>)</td>
        <td></td>
      </tr>
      <tr>
        <td>PRICE:</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><strong><%= currency %>$ <%= price %></strong></td>
        <td>as of <%= date %></td>
      </tr>
    </table>
    <br/>
    <br/>
    <% } %>

    <table border="0">
      <% for (var name in resultMap) { %>
      <tr>
        <td><strong><%= name %>: </strong></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= resultMap[name] %></td>
      </tr>
      <% } %>
    </table>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>